ManiaNet.DedicatedServer.Controller/Configuration/ServerControllerConfig.xsd

<?xml version="1.0" encoding="utf-8"?>
<!-- So VS shuts up. -->
<xs:schema attributeFormDefault="unqualified" elementFormDefault="qualified" xmlns:xs="http://www.w3.org/2001/XMLSchema">
  <xs:element name="ServerControllerConfig">
    <xs:complexType>
      <xs:sequence>
        <xs:element name="AllowManialinkHiding" type="xs:boolean" />
        <xs:element name="ManialinkRefreshInterval" type="xs:unsignedShort" />
        <xs:element name="Login" type="xs:string" />
        <xs:element name="Password" type="xs:string" />
        <xs:element name="PluginFolders">
          <xs:complexType>
            <xs:sequence>
              <xs:element name="PluginFolder" type="xs:string" minOccurs="1" />
            </xs:sequence>
          </xs:complexType>
        </xs:element>
      </xs:sequence>
    </xs:complexType>
  </xs:element>
</xs:schema>